.about {
  background: linear-gradient(
    to right,
    #212529 0%,
    #212529 50%,
    rgb(212, 212, 212) 50%,
    rgb(212, 212, 212) 100%
  );
}

.about-text {
  padding-top: 370px;
  color: white;
}

.full-height {
  min-height: 100vh; /* Set minimum height to cover the entire viewport height */
  display: flex;
  align-items: center; 
}

.card {
  background-color: rgb(233, 233, 233);
}

@media screen and (max-width: 740px) {

  .about {
    background: linear-gradient(to right, #212529 0%, #212529 100%);
  
  }
  .col-6 {
    width: 100%!important;
  }

 .about-text{
  padding-top: 80px;
  display: flex;
  width: 100%;
 }
 .about p{
  padding-top: 50px;
 }
 /* Additional styles to ensure full-width cards */
.carousel {
  display: none;
}
}
